@font-face {
  font-family: 'ProximaNovaReg';
  src: url('../fonts/ProximaNovaReg.eot');
  src: url('../fonts/ProximaNovaReg.eot?#iefix') format('embedded-opentype'),
  url('../fonts/ProximaNovaReg.svg') format('svg'),
  url('../fonts/ProximaNovaReg.ttf') format('truetype'),
  url('../fonts/ProximaNovaReg.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'NexaRustSans-Black03';
  src: url('../fonts/NexaRustSans-Black03.eot');
  src: url('../fonts/NexaRustSans-Black03.eot?#iefix') format('embedded-opentype'),
  url('../fonts/NexaRustSans-Black03.svg#NexaRustSans-Black03') format('svg'),
  url('../fonts/NexaRustSans-Black03.ttf') format('truetype'),
  url('../fonts/NexaRustSans-Black03.woff') format('woff'),
  url('../fonts/NexaRustSans-Black03.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}