@font-face {
  font-family: 'ProximaNovaReg';
  src: url('../fonts/ProximaNovaReg.eot');
  src: url('../fonts/ProximaNovaReg.eot?#iefix') format('embedded-opentype'),
  url('../fonts/ProximaNovaReg.svg') format('svg'),
  url('../fonts/ProximaNovaReg.ttf') format('truetype'),
  url('../fonts/ProximaNovaReg.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNovaLight';
  src: url('../fonts/ProximaNovaLight.eot');
  src: url('../fonts/ProximaNovaLight.eot?#iefix') format('embedded-opentype'),
  url('../fonts/ProximaNovaLight.svg') format('svg'),
  url('../fonts/ProximaNovaLight.ttf') format('truetype'),
  url('../fonts/ProximaNovaLight.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNovaBold';
  src: url('../fonts/ProximaNovaBold.eot');
  src: url('../fonts/ProximaNovaBold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/ProximaNovaBold.svg') format('svg'),
  url('../fonts/ProximaNovaBold.ttf') format('truetype'),
  url('../fonts/ProximaNovaBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'NexaRustSansBlack03';
  src: url('../fonts/NexaRustSansBlack03.eot');
  src: url('../fonts/NexaRustSansBlack03.eot?#iefix') format('embedded-opentype'),
  url('../fonts/NexaRustSansBlack03.svg#NexaRustSansBlack03') format('svg'),
  url('../fonts/NexaRustSansBlack03.ttf') format('truetype'),
  url('../fonts/NexaRustSansBlack03.woff') format('woff'),
  url('../fonts/NexaRustSansBlack03.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}