strong,
b {
  font-family: ProximaNovaBold, sans-serif;
}



.navbar {
  font-family: ProximaNovaReg, sans-serif;
  font-size: 1rem;
  padding: 1.5rem 1rem;

  .navbar-brand {
    svg {
      width: 100%;
      max-width: 350px;
      height: auto;
      @include media-breakpoint-down(sm) {
        max-width: 225px;
      }
    }
  }
  .navbar-nav {
    .nav-link {
      color: rgba(255,255,255,0.98);
      padding: 1rem 1.5rem;
    }

    .nav-sep {
      font-family: ProximaNovaBold, sans-serif;
      color: #ef7707;
    }

    .btn {
      font-size: 1rem;
    }
  }
}

.btn {
   font-family: ProximaNovaBold, sans-serif;
   color: #fff;
   background-image: linear-gradient(-117deg, #C75B12 0%, #FF8200 100%);
   border: none;
   box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
   letter-spacing: 1px;
   text-transform: uppercase;
   padding: 1rem 2rem;
   transition: all 0.25s ease;
 }

.btn:hover {
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.25);
  color: #fff;
}

.footer {
  .footer-contact {
    font-size: 1rem;
    padding-bottom: 1.5rem;
    a {
      color: #c1d59f;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
