

.section-header {
  display: flex;
  margin-bottom: 3rem;

  p {
    color: #5b8f22;
    font-size: 1.25rem;
    font-family: ProximaNovaReg;
    line-height: 1.1;
    text-align: left;
  }

  span {
    font-size: 2rem;
    font-weight: bold;
    color: rgba(227, 111, 10, 1.000);
    margin-left: 3rem;
    margin-right: 3rem;
  }

  @include media-breakpoint-down(sm) {
    display: block;
    p {
      text-align: center;
    }
  }
}

.section-dark {
  background-color: #253238;
  color: #fff;

  .section-header {
    p {
      color: #fff;
    }
    span {
      color: #5b8f22;
    }
  }
}

.pageHero {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
  height: 75vh;
  min-height: 500px;
  text-align: center;
  h1 {
    color: #fff;
    font-size: calc(28px + 4vw);
    > span {
      display: block;
      font-size: calc(28px + 2.5vw);
    }
  }
  p {
    font-family: ProximaNovaLight, 'Helvetica Neue', Helvetica, Arial sans-serif;
    font-size: 2rem;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
  }

  &--home {
    background-image: url('../img/hero-home.jpg');
  }
  &--work {
    background-image: url('../img/hero-work.jpg');
  }
  &--results {
    background-image: url('../img/hero-results-hl.jpg');
  }
  &--about {
    background-image: url('../img/hero-about.jpg');
  }
  &--resources {
    background-image: url('../img/hero-resources.jpg');
  }
}
@media (min-width:1200px) {
  .pageHero {
    min-height: 75vh;
    display: flex;
    align-items: center;
  }
}


.pageLead {
  color: #fff;
  width: 100%;
  background: url('../img/rectBgOrange.svg') bottom center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 20vh;
  padding-bottom: 10vh;
  margin-top: -15vh;
  min-height: 400px;
  text-align: center;
  .container {
    max-width: 800px;
  }
  p,small,a {
    font-size: 1.4rem;
    line-height: 1.5;
    color: #fff;
  }
}

@media (min-width:1200px) {
  .pageLead {
    min-height: 500px;
    display: flex;
    align-items: center;

    p {
      font-size: 1.75rem;
    }
  }
}

.info {
  padding-top: 5rem;
  padding-bottom: 5rem;

  .media {
    .media-body {
      font-size: 1rem;
    }

    img {
      max-height: 8rem;
    }

    @include media-breakpoint-down(sm) {
      margin-bottom: 3rem!important;
      flex-direction: column;
      flex-wrap: wrap;
      align-items: center;
      text-align: center;

      img {
        margin-right: 0 !important;
        margin-bottom: 2rem;
      }
    }

  }
}

.spotlight {
  background-color: #253238;
  color: #fff;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.work {
  padding-top: 5rem;
  padding-bottom: 3rem;

  &--page {
    padding-top: 0;
    padding-bottom: 0;
  }

  .container-fluid {
    .portfolio-box {
      position: relative;
      display: block;
      margin: 3px;

      .portfolio-box-caption {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        height: 100%;
        position: absolute;
        bottom: 0;
        text-align: center;
        opacity: 0;
        color: #fff;
        background: rgba(41, 48, 57, 0.9);
        transition: opacity .25s ease;

        .project-category {

        }
        .project-name {

        }
      }

      &:hover {
        .portfolio-box-caption {
          opacity: 1;
        }
      }

      img {
        width: 100%;
      }
    }

  }
}

.results {
  color: #fff;
  width: 100%;
  background: url('../img/rectBgGrey.svg') bottom center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 10vh;
  padding-bottom: 20vh;
  min-height: 400px;
  position: relative;

  @include media-breakpoint-up(md) {
    margin-bottom: 5rem;
  }

  img {
    @include media-breakpoint-up(md) {
      position: absolute;
      left: 0
    }
    @include media-breakpoint-down(md) {
      margin-bottom: 2rem;
    }
  }
}

.cta {
  padding-top: 5rem;
  padding-bottom: 5rem;

  h3 {
    color: #5b8f22;
  }

  .btn {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}

/* Work Page */
.process {
  padding-top: 5rem;
  padding-bottom: 5rem;

  .process-graphic {
    color: #fff;
    width: 100%;
    background: url('../img/work/process.svg') top center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vw;

    @include media-breakpoint-up(lg) {
      background-size: contain;
      min-height: 65vw;
    }
  }

}

/* Results Page */
.metrics {
  padding-top: 5rem;
  padding-bottom: 5rem;

  .metrics-item {
    padding: 2rem;

    h4 {
      @include media-breakpoint-up(md) {
        font-size: 3rem;
      }
    }

    img {
      margin-bottom: 1.5rem;
    }
  }
}

.copy {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.results-testimonial {
  padding-top: 5rem;
  padding-bottom: 5rem;

  img {
    margin-bottom: 2rem;

    @include media-breakpoint-down(sm) {
      max-width: 200px;
    }
  }

  .testimonial {
    .author {
      text-align: right;
      text-transform: uppercase;
      @include media-breakpoint-down(md) {
        text-align: center;
      }

      span{
        display: block;
      }

      .organization {
        color: #c1d59f;
        font-size: 1rem;
      }
    }
  }
}

.creative {
  padding-top: 5rem;
  padding-bottom: 5rem;
}


/* About Page */
.team {
  padding-top: 5rem;
  padding-bottom: 5rem;

  img {
    width: 100%;
    margin-bottom: 2.5rem;
  }
}

.logos {
    color: #fff;
    width: 100%;
    background: url('../img/rectBgGrey.svg') bottom center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 10vh;
    padding-bottom: 20vh;
    min-height: 400px;
    text-align: center;

  .logo-wrapper {
    align-items: center;
  }

  .logo-item {
    width: 20%;
    padding: 1rem;
    text-align: center;

    @include media-breakpoint-down(md) {
      width: 33.333%;
    }

    @include media-breakpoint-down(sm) {
      width: 50%;
      justify-content: center;
    }
  }

}



/* Resources Page */


.footer {
  background-color: #253238;
  color: #fff;
}